body{
    background-color: white(250, 247, 247);
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 100px;
      place-items: center;
}

.main{
    border: 2px  rgb(237, 227, 227);
    font-size: large;
    width:500px;
}
.title{
    border: 2px solid rgb(140, 105, 179);
    text-align: center;
    font-size: x-large;
    color: aliceblue;
    background-color: rgb(161, 131, 197);
    font-weight: 200;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0px;
    border-radius: 10px; ;
}
.box{
    border: 2px solid aliceblue;
    padding-top: 20px;
    background-color: rgb(237, 227, 227);
    padding-left: 40px;
   padding-bottom: 20px;
}
.sentence{
    font-size: large;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(17, 16, 18);
}
#guessInput{
    border-color: aliceblue;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    text-align: center;

}
#submitGuess{
    border-color: rgb(36, 140, 231);
    width: 100px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: royalblue;
    margin-left:30px;
}
#message{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid rgb(140, 105, 179);
    border-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    text-align: center;

}
#attempt{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
   color: rgb(17, 16, 18);
    padding: 10px;
    text-align: center;
}
#resetButton{
    border-color: rgb(36, 140, 231);
    width: 100px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: rgb(4, 81, 40);
    margin-left:30px;
    margin-left: 160px;
}

